<%# <div class="position-static">...A</div>
<div class="position-relative">...B</div>
<div class="position-absolute">...C</div>
<div class="position-fixed">...D</div>
<div class="position-sticky">...E</div> %>

<%# <div class="position-relative">
  <div class="position-absolute top-0 start-0">A</div>
  <div class="position-absolute top-0 end-0">B</div>
  <div class="position-absolute top-50 start-50">C</div>
  <div class="position-absolute bottom-50 end-50">D</div>
  <div class="position-absolute bottom-0 start-0">E</div>
  <div class="position-absolute bottom-0 end-0">F</div>
</div> %>

<%#
<div class="position-relative">
  <div class="position-absolute top-0 start-0 translate-middle">A</div>
  <div class="position-absolute top-0 start-50 translate-middle">B</div>
  <div class="position-absolute top-0 start-100 translate-middle">C</div>
  <div class="position-absolute top-50 start-0 translate-middle">D</div>
  <div class="position-absolute top-50 start-50 translate-middle">E</div>
  <div class="position-absolute top-50 start-100 translate-middle">F</div>
  <div class="position-absolute top-100 start-0 translate-middle">G</div>
  <div class="position-absolute top-100 start-50 translate-middle">H</div>
  <div class="position-absolute top-100 start-100 translate-middle">I</div>
</div> %>


<%# <div class="position-relative">
  <div class="position-absolute top-0 start-0">A</div>
  <div class="position-absolute top-0 start-50 translate-middle-x">B</div>
  <div class="position-absolute top-0 end-0">C</div>
  <div class="position-absolute top-50 start-0 translate-middle-y">D</div>
  <div class="position-absolute top-50 start-50 translate-middle">E</div>
  <div class="position-absolute top-50 end-0 translate-middle-y">F</div>
  <div class="position-absolute bottom-0 start-0">G</div>
  <div class="position-absolute bottom-0 start-50 translate-middle-x">H</div>
  <div class="position-absolute bottom-0 end-0">I</div>
</div> %>

<div class="center-container">
  <div class="x-axis">あああ</div>
  <div class="y-axis">いいい</div>
</div>
