<ol class="list-group list-group-numbered">
  <li class="list-group-item" onclick="toggleStrikethrough(event)">Cras justo odio</li>
  <li class="list-group-item" onclick="toggleStrikethrough(event)">Cras justo odio</li>
  <li class="list-group-item" onclick="toggleStrikethrough(event)">Cras justo odio</li>
</ol>

<div class="list-group">
  <label class="list-group-item" onclick="toggleStrikethrough(event)">
    <input class="form-check-input me-1" type="checkbox" value="">
    First checkbox
  </label>
  <label class="list-group-item" onclick="toggleStrikethrough(event)">
    <input class="form-check-input me-1" type="checkbox" value="">
    Second checkbox
  </label>
  <label class="list-group-item" onclick="toggleStrikethrough(event)">
    <input class="form-check-input me-1" type="checkbox" value="">
    Third checkbox
  </label>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Levels</th>
      <th scope="col">Quest</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td onclick="toggleStrikethrough(event)">Mark</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td onclick="toggleStrikethrough(event)">Jacob</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td onclick="toggleStrikethrough(event)">Jacob</td>
    </tr>
  </tbody>
</table>
