.grid-container {
  display: grid;
  grid-template-columns: repeat(101, 30px);
  grid-template-rows: repeat(101, 30px);
  grid-gap: 1px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
}
